div#certifications > h2{
  margin-top: 60px;
  display: inline-block;
  background-image: linear-gradient(120deg, #71f1d6 0%, #5FE2C5 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.4em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
  margin-bottom: 50px;
  padding: 0 .5em;
}