.col-left span#icon-arrow {
  display: block;
  font-size: 20px;
  line-height: 27px;
  margin-left: 15px;
}
.col-left h1 {
  font-size: 49px;
  font-weight: 500;
  color: #292423;
  line-height: 64px;
  margin-bottom: 15px;
  letter-spacing: 0.01em;
}
.col-left p {
  width: 85%;
  font-size: 20px;
  font-weight: normal;
  line-height: 145%;
  margin-bottom: 20px;
  letter-spacing: 0.01em;
}
#home-picture {
  max-width: 100%;
  width: 400px;
  transition: transform 0.5s;
}
#home-picture:hover{
  transform : rotate(10deg);
}

/* button see my work */
a.btn-main-green {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  box-shadow: 0px 16px 40px #E9E7FF;
  border-radius: 10px;
  text-decoration: none !important;
  text-transform: capitalize;
  background: #60E4C6;
  width: fit-content;
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  margin-top: 35px;
  transition: all 0.3s ease 0s;
}
a.btn-main-green span {
  display: inline-block;
  width: 19px;
  height: 19px;
  background: #60E4C6;
  border-radius: 50px;
  margin: 0 0 0 3px;
  transition: all 0.3s;
  text-align: center;
}
a.btn-main-green span img {
  margin: 0 0 8px 0;
}
a.btn-main-green:hover {
  background: #9bf0dc;
}
a.btn-main-green:hover span {
  background: #9bf0dc;
}

/* hr footer line with social icons */

.flex-items{
  display: flex;
  align-items: center;
}

.separator-line{
  margin-left: -160px;
  width: 170%;
  color: color;
  background-color: color;
  height: 5;
}

.iconLinkedin-home{
  margin-left: 80px;
  width: 20px;
  color: #686868;
  transition: all 0.3s ease 0s;
}
.iconGithub-home{
  margin-left: 20px;
  width: 20px;
  color: #686868 !important;
  transition: all 0.3s ease 0s;
}
.iconBehance-home{
  margin-left: 20px;
  width: 23px;
  color: #686868 !important;
  transition: all 0.3s ease 0s;
}
.iconBehance-hover:hover{
  color: #C573EC !important;
}
.iconLinkedin-hover:hover{
  color: #3F9EE5 !important;
}
.iconGithub-hover:hover{
  color: #5FE2C5 !important;
}

.underline--magical {
  background-image: linear-gradient(120deg, #71f1d6 0%, #5FE2C5 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.4em;
  background-position: 0 88%;
  padding: 0 .2em;
  transition: background-size 0.25s ease-in;
}
/* .underline--magical:hover {
  background-size: 100% 88%;
} */
/* media queries */
@media (max-width: 800px) {

  .col-left {
    margin-top: 50px;
  }
  .col-left span {
    font-size: 16px;
    line-height: normal;
  }
  .col-left h1 {
    font-size: 30px;
  }
  .col-left p {
    width: 100%;
  }
  a.btn-main-green {
    font-size:15px;
  }
  a.btn-main-green span img {
    margin: 0px 0 4px 0;
  }
  #home-picture{
    max-width: 100%;
    width: 250px;
  }
}

@media (max-width: 400px){
  #footer-line{
    margin-top: 50px;
  }
}
@media (max-width: 520px){
  #home-picture{
    display: none;
  }
}

/* about section */
